html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


html{
	margin:0;
	padding: 0;
}

body {
	margin:0;
	background-image: url('https://lileadproject.files.wordpress.com/2016/12/website-background-grey-fw.png');
	background-attachment: fixed;
  background-size: 100% 100%;
	background-repeat: no-repeat;
}

#header{
	height: 70px;
	width: 100%;
	background-color: #6720DF;
	line-height: 70px;
    text-align: center;
    margin-bottom: 3%;
}

#header>h1{
	font-size: 150%;
	text-align: center;
	color:white;
}


#container{
	margin: 2% 15%;
	width: 70%;
}

.container_field{
	width: 100%;
	height: 2.5em;
}


.input_box{
	float: right;
    margin-right: 15%;
    width: 50%;
    height: 1.5em;
}

.input_box>input{
	width: 90%;
    height: 2em;
    margin-top: 0.25em;
}

#gender {
	display: inline-block;
	float: right;
    margin-right: 15%;
}

#gender>label:nth-child(2) {
	margin-right: 0.8em;
}


#entree_field{
	display: inline-block;
	width:100%;
	margin: 2% 0;
}

#entree_field>div{
	width: 49%;
    display: inline-block;
    float: left;
}


#execute_field{
	width:100%;
	margin: 1em 0;
	text-align: center;
}

#output_field{
	width:100%;
	margin: 2% 0;
}


#mrz{
	width: 100%;
    resize: none;
    height: 3em;
    border: none;
    text-align: center;
}

#copy_button{
	height: 2em;
    bottom: 2.5em;
    right: 0.5em;
    position: relative;
    float: right;
    cursor: pointer;
}

#copy_text{
	position: relative;
    font-size: 80%;
    width: fit-content;
    float: right;
    bottom: 4.5em;
    left: 9em;
    background-color: #80808045;
    color: white;
    padding: 0.3em;
    transition-timing-function: ease-in-out;
    transition: opacity 0.5s;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  margin-top: 0.25em;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete {
  position: relative;
  display: inline-block;
}


input{
	border: none;
    border-radius: 1em 1em 0 0;
    padding: 0 5%;

}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #f3f4f3;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #6720DF;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}


input:focus , #mrz:focus{
	outline: none;
    box-shadow: 0 0 0.4em 0.05em #6720DF;
}

label , .container_field>span{
	line-height: 2.5em;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

.full_country{
    color: #b4b5b4;
    position: relative;
    top: -5px;
    float: right;
    font-size: 0.8em;
}


#execute_field>button{
	background-color:  #6720DF;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}


#execute_field>button:focus{
	outline: none;
    box-shadow: 0 0 0.4em 0.05em #6720DF;
}

@media only screen and (max-width: 920px) {
	#container{
		margin: 2% 10%;
    	width: 80%;
	}

  	#entree_field>div {
    	display: contents;
  }
}